body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background: #777;
}

.containner {
    max-width: 1400px;
    background: #fff;
    margin: auto;
    box-shadow: 0px 0px 16px 0px #00000040;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1em;
    padding: 20px;
    background: #2196F3;
    color: #fff;
}
header section:last-child {
   text-align: center;
}
header section:last-child a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}
header section:last-child a:hover {
    background: #076fc1;
}

header section h2.logo {
    margin: 0px;
}

header section .search {
    width: 100%;
    height: 33px;
    margin-top: -7px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    padding-left: 11px;    
}

nav {
    background: #127acc;
    padding-left: 14px;
    border-top: 2px solid #127acc;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px 31px;
    display: -webkit-inline-box;
    background: #127acc;
    margin-right: -3px;
    border-right: 1px solid #eeeeee80;    
}
nav a:hover {
    background: #2196f3;
}

.contents {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 1em;    
}

.contents aside {
    padding: 15px 21px;
}
.contents aside h3 {
    font-size: 26px
}
.contents aside section {}
.contents aside section a {
    display: block;
    font-size: 18px;
    margin-bottom: 14px;
    text-decoration: none;
    color: #0f568e;
}
.contents aside section a:hover {}

.contents .products {
    background: #f3f3f3;
    padding: 23px 13px 51px 13px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

.contents .products .product-item {
    background: white;
    height: 484px;
    padding-bottom: 11px;
    border-bottom: 4px solid #2196f3;
}
.contents .products .product-item img {
    width: 100%;
    height: 358px;    
}
.contents .products .product-item h3 {
    font-size: 21px;
    padding: 0px 20px;    
}
.contents .products .product-item p {
    font-size: 17px;
    font-weight: bold;
    margin: 0px 18px;
    color: #2196f3;    
}

footer {
    background: #127acc;
    padding: 12px 38px;
    margin-top: 33px;
}

footer .sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-gap: 16px;
}
footer .sections section a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}
footer .sections section a:hover {
    text-decoration: underline;
}
footer .sections section h4 {
    font-size: 24px;
    color: #fff;    
}

button {
    background: #127acc;
    padding: 14px 19px;
    border: 1px solid #fff;
    color: #fff;
}
button:hover {
    background: #219af9;
}

.btn-big {
    font-size: 21px;
    width: 479px;
    margin-top: 7px;
    height: 61px;    
}

input[type="text"], input[type="number"], select {
    height: 39px;
    border: 3px solid #127acc;
    margin-top: 7px;
    padding: 4px 8px;
    width: 223px
}

select {
    height: 52px;
    /* width: 179px; */
}
